

* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */

.nav-logo{
    width: 120px;
    height: 50px;
}

.logo{
    background-image: url("amazonLOGO.png");
    background-size: cover;
    width: 110px;
    height: 40px;
    padding-bottom: 10px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 3px;
}


/* box2 */

.add-first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 20px ;
    font-weight: 700;
}

.add-second{
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 700;
}

.add-icon{
    display: flex;
    align-items: center;
}



/* box3 */
.navSearch{
    margin-left: 2px;
    display: flex;
    width: 620px;
    height: 40px;
}

.searchSelect{
    background-color: #ffffff;
    border: none;
    width: 50px;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchInput{
    border: none;
    width: 520px;
    color: #0f1111;
    font-size: 1rem;
}

.searchIcon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.5rem;
    color: #0f1111;
}

.navSearch:hover{
    border: 2px solid orange;
    border-radius: 4px;
}

/* box4 */
.region{
    display: flex;
    align-items: center;
    width: 60px;
}

.region-icon{
    width:30px;
    height:20px;
    background-image: url("amlog.png");
    background-size: cover;
}

.region-select{
    border: none;
    color: white;
    background-color: #0f1111;
}

/* box5 */
.account{
    width: 100px;
}

/* box6 */
span{
    font-size: 0.75rem;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}

/* box7 */
.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */
.panel{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelopt p{
    display: inline;
    margin-left: 15px;
}

.panelopt{
    width: 80%;
    font-size: 0.85rem;
}

.panelDeals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero Section */
.heroSection{
    height: 350px;
    background-image: url("hero1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heroMsg{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    width: 96vw;
    font-size: 0.85rem;
    margin-bottom: 15px;
}

.heroMsg a{
    color: #2162A1;
    text-decoration: none;
}


/* shoppingSection */
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
}

.shop-section{
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(244, 244, 229);
}

.box_img{
    margin: 5%;
    height: 75%;
    width: 90%;
    background-size: cover;
}

.box h2{
    font-size: 21px;
    margin-left: 5%;
    margin-top: 5%;
    color: #0F1111;
}

.box p{
    margin-left: 5%;
    color: #0C3353;
}


/* footer */
footer{
    margin-top: 15px;
}

.footPanel1{
    background-color: #37475a;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 13px;
}

.footPanel2{
    background-color: #222F3D;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.footPanel2 p{
    font-size: 1rem;
    font-weight: 700;
}

ul{
    margin-top: 20px;
}
.footPanel2 a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}


/* footPanel3 */
.footPanel3{
    background-color: #222F3D;
    color: white;
    border-top: 0.3px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footPanelogo{  
    background-image: url("logo.png");
    background-size: cover;
    width: 110px;
    height: 50px;
}

/* Panel 4 */

.footPanel4{
    background-color: #131A22;
    height: 70px;
    padding: 10px 0px 30px 0px;
}

.pages{
    display: flex;
    justify-content: center;
    color: #DDDDDD;
}

.pages a{
    margin-right: 10px;
    font-size: 0.85rem;
}

.copyryt{
    color: #DDDDDD;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 4px;
}